@font-face {
    font-family: MyWebFont;
    font-style: normal;
    font-weight: 500;
    src: url(/static/fonts/MuseoSansCyrl-500.ttf);
}

@font-face {
    font-family: MyWebFont;
    font-style: italic;
    font-weight: 500;
    src: url(/static/fonts/MuseoSansCyrl-500Italic.ttf);
}

@font-face {
    font-family: MyWebFont;
    font-style: normal;
    font-weight: 700;
    src: url(/static/fonts/MuseoSansCyrl-700.ttf);
}

@font-face {
    font-family: MyWebFont;
    font-style: italic;
    font-weight: 700;
    src: url(/static/fonts/MuseoSansCyrl-700Italic.ttf);
}

@font-face {
    font-family: MyWebFont;
    font-style: normal;
    font-weight: 900;
    src: url(/static/fonts/MuseoSansCyrl-900.ttf);
}

@font-face {
    font-family: MyWebFont;
    font-style: italic;
    font-weight: 900;
    src: url(/static/fonts/MuseoSansCyrl-900Italic.ttf);
}

#base-style{
    font-family: MyWebFont, serif;
    padding-top: 20px;
    background: #eae7dc;
    font-size: 18px;
    margin: auto;
    width: 80%;
    color: #374785;
}

#footer-style{
    background: #d8c3a5 !important;
    border-top: 2px solid #374785 !important;
    text-align: center;
    font-size: 14px !important;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-top: 40%;
}

.h2-style{
    color: #464866;
    text-align: center;
    margin: auto;
    border-bottom: 2px solid #d8c3a5;
    max-width: 60%;
}

.p-style{
    color: #343434;
    padding-left: 10px;
}

#nav-buttons{
    margin: 5px;
    font-size: 16px !important;
}

.description_form{
    font-size: 14px !important;
    margin-top: -18px;
}

tr.spaceUnder>td {
  padding-bottom: 20px;
}

#myBtn {
    font-size: 18px !important;
}

.checkbox {
    height: 22px !important;
    width: 22px !important;
}

.checkbox2 {
    height: 16px !important;
    width: 16px !important;
}