/*@font-face {
    font-family: 'MyWebFont';
    src: url('static/fonts/sf_regular.ttf')  format('truetype'),
         url('static/fonts/sf_bold.ttf')  format('truetype'),
         url('static/fonts/sf_bold_italic.ttf')  format('truetype'),
         url('static/fonts/sf_regular_italic.ttf')  format('truetype');
}*/

#base-style{
    padding-top: 20px;
    background: #eae7dc;
    font-size: 18px;
    margin: auto;
    width: 70%;
    color: #374785;
}

#footer-style{
    background: #d8c3a5 !important;
    border-top: 2px solid #374785 !important;
    text-align: center;
    font-size: 14px !important;
    padding-top: 10px;
    padding-bottom: 1px;
    margin-top: 40%;
}

.h2-style{
    color: #464866;
    text-align: center;
    margin: auto;
    border-bottom: 2px solid #d8c3a5;
    max-width: 60%;
}

.p-style{
    color: #343434;
    padding-left: 10px;
}

#nav-buttons{
    margin: 5px;
}

.description_form{
    font-size: 14px !important;
}