{% extends "base.html" %}

{% block content %}
<h1 class="h1-style"><b>{{ title }}</b></h1><br>
<div>
    Обучение во всех 6-9 классах осуществляется по профильной физико-математической программе. С 10 класса классы <b>не расформировываются</b>, а создаются страты и мета-группы: лицеисты распределяются по профилям:
    <ul>
        <li>физико-математический,</li>
        <li>математический,</li>
        <li>математико-программистский,</li>
        <li>математико-экономический.</li>
    </ul>
    Набор происходит в 3 шестых класса и 2 седьмых, а добор - в 7-11 классы. Таким образом, в седьмой параллели и старше по 5 классов, а в шестой - 3 класса.
    <br><br>
    После уроков для ребят работает система кружков и элективов по самым разным предметам и на самых разных уровнях: от олимпиадной математики, физики и информатики до лингвистики, робототехники, углубленных групп по непрофильным предметам.
    В Лицее ежегодно проводится “Летняя многопредметная школа”, работает Лекторий Л2Ш, на который приглашаются ведущие специалисты в своих областях.
    <div style="margin: auto; background: white; box-shadow: 0px 0px 20px rgba(160,207,255,0.49); border-radius: 10px; padding: 10px; width: 60%; margin-top: 15px; margin-bottom: 20px; text-align: center">
        <b><span style="color: rgba(0, 48, 205, 0.62); font-size: 1.1em">Плановые цифры набора в 2024 году:</span></b>
            <div>6 классы — 84 человека</div>
            <div>7 классы — 56 человек</div>
    </div>
    <h4 style="color: rgba(0, 48, 205, 0.62);">Перечень вступительных испытаний в 6 и 7 классы</h4>
    <ul>
        <li>Математика (базовая, письменно)</li>
        <li>Математика (творческая, устно)</li>
        <li>Русский язык (письменно)</li>
        <li>Административное собеседование</li>
    </ul>
    <div style="margin: auto; background: white; box-shadow: 0px 0px 20px rgba(160,207,255,0.49); border-radius: 10px; padding: 10px; width: 60%; margin-top: 15px; margin-bottom: 20px; text-align: center">
        <b><span style="color: rgba(0, 48, 205, 0.62); font-size: 1.1em">Плановые цифры добора в 2024 году:</span></b>
            <div>8 классы — до 10 человек</div>
            <div>9 классы — до 10 человек</div>
            <div>10 классы — до 15 человек</div>
            <div>11 классы — добор возможен только в исключительных случаях*</div>
    </div>
    <div style="margin-bottom: 20px;"><small>*(победители/призеры ВсОШ и другие соразмерные успехи в физике, математике, информатике, экономике)</small></div>
    <h4 style="color: rgba(0, 48, 205, 0.62);">Перечень вступительных испытаний в 8 и 9 классы</h4>
    <ul>
        <li>Математика (базовая, письменно)</li>
        <li>Математика (углубленная, письменно-устно)</li>
        <li>Физика (базовая, письменно-устно)</li>
        <li>Русский язык (письменно)</li>
        <li>Административное собеседование</li>
    </ul>
    <h4 style="color: rgba(0, 48, 205, 0.62);">Перечень вступительных испытаний в 10 и 11 классы</h4>
    <ul>
        <li>Математика (углубленная, письменно)</li>
        <li>Профильный предмет (математика, физика, экономика, информатика в зависимости от профиля)</li>
        <li>Административное собеседование</li>
    </ul>
</div>
{% endblock %}
