{% extends "base.html" %}

{% block content %}
<h1 class="h1-style"><b>{{ title }}</b></h1>
    <div id="application-cards">
    {% if not user_list %}
        <p>Заявок нет.</p>
    {% else %}
        {% for user in user_list %}
            <div class="card">
                <a href="/{{ user[0] }}" target="_blank"><img src="/{{ user[0] }}" class="card-img-top" alt="/{{ user[0] }}"></a>
                <div class="card-body">
                    <h4 class="card-title">{{ user[1] }}</h4>
                    <table class="table table-bordered">
                        <tbody>
                        {% for row in user[2] %}
                            <tr>
                                <th scope="row" style="width: 30%">{{ row[0] }}</th>
                                <td>{{ row[1] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p class="card-text">Дата регистрации: {{ user[3] }}</p>
                    <a href="application/{{ user[4] }}/approve" class="btn btn-success">Одобрить</a>
                    <a href="application/{{ user[4] }}/reject" class="btn btn-danger">Отклонить</a>
                </div>
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endblock %}
