{% extends "base.html" %}

{% block content %}
<h1 class="h1-style"><b>{{ title }}</b></h1><br>
    <table class="table table-bordered">
        <tbody>
        {% for row in data %}
        <a href="/{{ user[0] }}" target="_blank"><img src="/{{ user[0] }}" class="card-img-top" alt="/{{ user[0] }}" style="width: 250px; display:block; margin:auto;"></a>

        <tr>
            <th scope="row" style="width: 30%">{{ row[0] }}</th>
            {% if loop.index == 1 %}
                {% set cls = "secondary" %}
                {% if row[2] == "3" %}
                    {% set cls = "warning" %}
                {% elif row[2] == "2" %}
                    {% set cls = "success" %}
                {% elif row[2] == "1" or row[2] == "5" %}
                    {% set cls = "danger" %}
                {% elif row[2] == "0" %}
                    {% set cls = "primary" %}
                {% endif %}
                <td class="table-{{ cls }}">{{ row[1] }}</td>
            {% else %}
                <td>{{ row[1] }}</td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
