{% extends "base.html" %}

{% block content %}
<h1 class="h1-style"><b>{{ title }}</b></h1><br>
    <p class="p-style">Любые вопросы по набору в Лицей «Вторая школа» Вы можете задать по электронной почте: <a
            href="mailto:abitur@sch2.ru">abitur@sch2.ru</a></p>
    <p class="p-style">Все вступительные испытания проходят по адресу: <b><a target="_blank"
                                                                             href="https://yandex.ru/maps/-/CDvuFHlL">г.
        Москва, ул. Фотиевой, 18.</a></b></p>
{% endblock %}
