{% extends "base.html" %}

{% block content %}
    <h2 class="h2-style"><b>Приглашения на вступительные испытания</b></h2><br>
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col" style="width: 5%">№</th>
            <th scope="col" style="width: 25%">Испытание</th>
            <th scope="col" style="width: 20%">Дата</th>
            <th scope="col" style="width: 50%">Описание</th>
        </tr>
        </thead>
        <tbody>
        {% for invite in invites %}
            <tr class="spaceUnder">
                <th scope="row">{{ loop.index }}</th>
                <td>{{ invite[0] }}</td>
                <td>{{ invite[1] }}</td>
                <td>{{ invite[2] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
