{% extends "base.html" %}

{% block content %}
<h2 class="h2-style"><b>{{ title }}</b></h2><br>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css"
      integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.0/bootstrap-table.js'></script>
<link rel="stylesheet" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.css"/>
<script src="https://cdn.datatables.net/2.0.8/js/dataTables.js"></script>
<script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/static/js/users_table.js"></script>
<link rel="stylesheet" href="/static/css/style2.css"/>

<div class="container">
    <div class="form-group pull-left">
        <form>
            <input type="text" name="focus" required class="search-box search form-control" placeholder="Поиск"/>
            <button class="close-icon" type="reset"></button>
        </form>
    </div>
    <form method="post">
        {% for grade in grades %}
        <div class="form-check form-check-inline">
            {% if grade in checked_grades %}
            <input class="form-check-input" name="grade" type="checkbox" id="inlineCheckbox1" value="{{ grade }}" checked>
            {% else %}
            <input class="form-check-input" name="grade" type="checkbox" id="inlineCheckbox1" value="{{ grade }}">
            {% endif %}
            <label class="form-check-label" for="inlineCheckbox1">{{ grade }} класс</label>
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Показать</button>
    </form>
    <span class="counter pull-right"></span>
    <table id="example" class="table results table-hover"
           data-escape="false"
           data-toggle="table"
           data-filter-control="true">
        <thead class="thead-light">
        <tr>
            <th scope="col" data-field="name" data-sortable="true">ФИО поступающего</th>
            <th scope="col" data-field="mail" data-sortable="true">Почта</th>
            <th scope="col" data-field="grade" data-sortable="true">Класс поступления</th>
            <th scope="col" data-field="status" data-sortable="true">Статус</th>
            <th scope="col" data-field="more">Подробнее</th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-warning no-result">
            <td colspan="5">Нет результатов</td>
        </tr>
        {% for user in users %}
        <tr>
            <td>
                <div class="media align-items-center" style="display: flex;align-items: flex-start;">
                    <img alt="Image placeholder" src="/static/img/logo.png" style="width: 40px; height: 40px;">
                    <span class="fs-6">{{ user[0] }}</span>
                </div>
            </td>
            <td>{{ user[1] }}</td>
            <td>{{ user[2] }}</td>
            {% if user[3] == "Участвуете в конкурсе" %}
            <td class="status"><span class="take_part">{{ user[3] }}</span></td>
            {% elif user[3] == "Выбыли из конкурса" %}
            <td class="status"><span class="dont_take_part">{{ user[3] }}</span></td>
            {% elif user[3] == "Приняты в Лицей" %}
            <td class="status"><span class="in_lyceum">{{ user[3] }}</span></td>
            {% elif user[3] == "Занесены в резерв" %}
            <td class="status"><span class="reserve">{{ user[3] }}</span></td>
            {% elif user[3] == "Заявка отклонена" %}
            <td class="status"><span class="cancel">{{ user[3] }}</span></td>
            {% else %}
            <td class="status"><span class="waiting">{{ user[3] }}</span></td>
            {% endif %}
            <td>
                <div class="d-flex justify-content-center">
                    <!--                    <button type="button" class="btn btn-primary"></button>-->

                    <button id="button-modal" class="btn btn-primary btn-block mb-2" data-toggle="modal"
                            data-target="#modal-users-{{ loop.index0 }}"><i class="far fa-eye"></i></button>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>


{% for i in range(users|length) %}
<div id="modal-users-{{ i }}" class="modal fade" data-backdrop="true">
    <div class="modal-dialog modal-xl modal-users">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h2 class="h2-style"><b>Личная информация поступающего</b></h2><br>
                <table class="table table-bordered">
                    <tbody>
                    {% for row in users[i][4] %}
                    <tr>
                        <th scope="row" style="width: 30%">{{ row[0] }}</th>
                        {% if loop.index == 5 %}
                        {% if row[1] == "Участвуете в конкурсе" %}
                        <td class="status"><span class="take_part">{{ row[1] }}</span></td>
                        {% elif row[1]== "Выбыли из конкурса" %}
                        <td class="status"><span class="dont_take_part">{{ row[1] }}</span></td>
                        {% elif row[1] == "Приняты в Лицей" %}
                        <td class="status"><span class="in_lyceum">{{ row[1] }}</span></td>
                        {% elif row[1] == "Занесены в резерв" %}
                        <td class="status"><span class="reserve">{{ row[1] }}</span></td>
                        {% elif row[1] == "Заявка отклонена" %}
                        <td class="status"><span class="cancel">{{ row[1] }}</span></td>
                        {% else %}
                        <td class="status"><span class="waiting">{{ row[1] }}</span></td>
                        {% endif %}
                        {% else %}
                        <td>{{ row[1] }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <h2 class="h2-style"><b>Написанные экзамены</b></h2><br>
                <table class="table table-bordered">
                    <tbody>
                    {% for row in users[i][5] %}
                    <tr>
                        <th scope="row" style="width: 30%">{{ row[0] }}</th>
                        <td>{{ row[1] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Открыть в отдельной вкладке</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}

